.timer-wrapper {
  display: flex;
  justify-content: center;
}

.timer-inner {
  display: flex;
  gap: 1;
  font-weight: 900;
  font-size: 4rem;
}

.time-input {
  text-align: center;
  border: 2px solid white;
  margin: 0.2em;
  font-size: large;
  border-radius: 5px;
}

.timer-segment {
  display: flex;
  align-items: center;
  justify-content: center;
}
